<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body ng-app="Todo">
    <div class="page-container" ng-controller="TodoCtrl as todo">

      <h2>Things To Do</h2>
      <ul class="todo-list" ng-repeat="todo in tasks">
        <li>
          <span>{{ todo }}</span>
          <button class="bt bt-achieve" ng-click="done(todo)">Done</button>
        </li>

      </ul>

      <ul class="add-todo">
        <li>
          <input type="text" class="txt" placeholder="New Task" ng-model="newTask" ng-keyup="add($event)" />
        </li>
      </ul>
    </div>

    <script src="https://code.angularjs.org/1.4.7/angular.min.js"></script>
    <script src="app.js"></script>

  </body>

</html>